.interests {
    background-image: url("images/surfing.JPG");
    background-size: cover;
}

.interests .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 4em;
    max-width: 100%;
}

.interests .grid div {
    background-color: #766d97;
    border-radius: 10px;
    padding: 1em;
    height: 150px;
}

.interests iframe {
    border-radius: 10px;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
